.title_con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  /* background: linear-gradient(270deg, #ccbe5f, #f0e68c); */
  background-color: var(--bs-brown);
  padding: 5px;
  transition: background-color 0.3s ease; /* Smooth transition for hover */
  width: 116%;
}
/* .title_con:hover {
  width: 120%;
  background: linear-gradient(270deg, #ccbe5f, #f0e68c);
  cursor: pointer;
  animation: hoverEffect 2s ease infinite; 
} */
.ServiceCard_title{
  font-size: 25px;
  font-family: var(--MyriadPRo-font);
  color: var(--bs-beig);
}
.title_con img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-color: var(--bs-beig);
}
.ServicesCard {
  width: 361px;
  height: 340px;
  padding: 10px 20px;
  box-shadow: 0 2px 8px #0000006f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.description_Card p {
  max-width: 280px;
  text-align: center;
  word-wrap: break-word;
  line-height: 32px;
  font-family: var(--MyriadPRo-font);
}

@keyframes hoverEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
