.photos-gallery {
    width: 60%;
    margin: 50px auto;
    text-align: center;
    
  }
  
  .gallery_head {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .slider-item {
    background-color: var(--bs-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 700px; /* لضبط طول الحاوية حسب حجم الصور */
    padding: 10px;
  }
  
  .before-image,
  .after-image {
    width: 100%;
    flex: 1; /* يجعل الصورة تأخذ كامل المساحة المتاحة */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .before-image img{
    margin-bottom: 10px;
  }
  .before-image img,
  .after-image img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: contain; /* لمنع ضغط الصورة */
  }
  
  .slider-item .before-image img {
    border-bottom: 2px solid #ddd; /* إضافة حد بين الصورتين */
  }
  
  /* تخصيص الأسهم عند عدم الفعالية */
  .slick-prev,
  .slick-next {
    background-color: var(--bs-beig) !important;
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
    z-index: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .slick-prev.slick-disabled,
  .slick-next.slick-disabled {
    background-color: var(--bs-beig) !important; /* نفس اللون للأزرار غير الفعالة */
    opacity: 0.5; /* تقليل الشفافية للأسهم غير الفعالة */
    pointer-events: none; /* منع النقر على الأسهم غير الفعالة */
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: white; /* لون السهم الداخلي */
    font-size: 18px;
  }
  /* تعديل المسافة عن السلايدر */
.slick-prev {
    left: -40px;
  }
  
  .slick-next {
    right: -40px;
  }
  
  @media (max-width: 768px) {
    .photos-gallery {
      width: 90%;
    }
  
    .before-image img,
    .after-image img {
      max-height: 200px;
    }
 /* تعديل المسافة عن السلايدر */
.slick-prev {
    left: -20px;
  }
  
  .slick-next {
    right: -20px;
  }
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 40px;
    }
  
    .slick-prev:before,
    .slick-next:before {
      font-size: 16px;
    }
  }
  @media(max-width:520px){
    .slider-item{
        display: flex !important;
    }
  }