.Hero {
    position: relative;
    background-image: url(../../assets/images/diana-polekhina-F68HtpYHu_w-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 90%;
    max-width: 1200px; /* Added max width for large screens */
    margin: 0 auto;
}

.HeadLine {
    width: 100%;
    max-width: 500px; /* Adjust width for larger screens */
    /* padding: 10px 15px;
    box-shadow: 0 2px 8px #0000006f;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%); */
    border-radius: 10px;
    text-align: center;
}

.headlineTitle {
    padding: 10px 15px;
    /* background: linear-gradient(-135deg, rgba(182, 182, 181, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%); */
    box-shadow: 0 2px 8px #0000006f;
    font-family: var(--Monteserat-font);
    font-size: 2rem; /* Adjust the size for readability */
    margin: 0 auto;
    color: var(--bs--offwhite);
    border-radius: 4px;
    line-height: 52px;
}

.subHead {
    line-height: 30px;
    border-radius: 4px;
    padding: 10px 15px;
    box-shadow: 0 2px 8px #0000006f;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%); */
    margin-top: 20px;
    font-family: var(--MyriadPro-font);
    font-size: 1.2rem; /* Adjust font size for subheading */
    text-align: center;
    color: var(--bs--offwhite);
}

.Form_Hero {
    width: 100%; /* Ensure the form takes full width */
    max-width: 600px; /* Limit form width on large screens */
    border: 1px solid red; /* Remove later when no longer needed */
}
.Form_Hero h1{
    font-family: var(--Monteserat-font);
    color: var(--bs--offwhite);
    text-align: center;
    margin-bottom: 20px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .headlineTitle {
        font-size: 1.5rem;
    }
    
    .subHead {
        font-size: 1rem;
    }

    .Hero_Container {
        gap: 30px; /* Reduce gap for smaller screens */
    }
}
