.Footer{
    margin-top: 40px;
    border-top: 2px solid rgba(255, 255, 255, 0.2392156863);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem 1rem;
    flex-wrap: wrap;
    background-color: var(--bs-brown);
    box-shadow: 0 2px 8px #0000006f;

}
.Footer .logo img {
    width: 170px !important;
  }
  .location_text{
    width: 200px;
  }
.phone_number h3{
    margin: 0 !important;
    color: var(--bs--offwhite);
    font-family: var(--MyriadPRo-font);
    font-weight: 600;
}
.Footer .logo img{
    width: 120px;
}
.Footer .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.socil_text_con{
    display: flex;
    align-items: start;
    gap: 15px;
}
.footer_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.phone_number{
    display: flex;
    flex-direction: column;
}
.phone_number a,.phone_number p{
    color: var(--bs-beig);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 0 !important;
    margin: 0 !important;
    word-break: break-all;
}

.social_menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.social_menu a{
    transition: transform .3s ;
}
.social_menu a path{
    fill:var(--bs--offwhite)
}
.social_menu a:hover{
    transform: scale(.92);
}
.socil_text_con  path{
    fill: var(--bs--offwhite) !important;
}


@media(max-width:920px){
    .Footer{
        gap: 36px;
    }
    .social_menu{
        margin-top: 80px;
    }
    .footer_content{
        gap: 80px;
    }
    .footer_content .phone_number p{
        width: 220px;
    }
    .phone_number a, .phone_number p{
        width:200px;
    }
}
