.OurServices{
    width: 100%;
    background-color: var(--bs--offwhite);
    padding: 1rem;
    margin-top: 100px;
}
.OurServices_Container{
    width: 80%;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.OurServices_Heading, .gallery_head {
    text-align: center;
    color: #47230E;
    font-family: var(--Monteserat-font);
    font-size: 64px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 12px;
    text-size-adjust: 12px;
    text-shadow: 0 4px 8px rgba(71, 35, 14, 0.3); /* إضافة الظل هنا */
}
.carousel-control-prev,
.carousel-control-next {
    background-color: #47230E; /* Custom background color */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
    top: 50%; /* Vertically center the button */
    transform: translateY(-50%); /* Adjust position to center */
    
}

.carousel-control-prev {
    left: -50px; /* تعديل المسافة على اليسار لجعل الزر يبتعد عن السلايد */
}

.carousel-control-next {
    right: -50px; /* تعديل المسافة على اليمين لجعل الزر يبتعد عن السلايد */
}
.OurServices .carousel{
    height: 400px;
    /* background-color: red; */

}

@media(max-width:520px){
    .OurServices_Heading,.About h1,.contact_title{
        font-size: 45px;
        font-weight: 600;
    }
    .carousel-control-prev {
        left: -20px; /* تعديل المسافة على اليسار لجعل الزر يبتعد عن السلايد */
    }
    
    .carousel-control-next {
        right: -20px; /* تعديل المسافة على اليمين لجعل الزر يبتعد عن السلايد */
    }
}